@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
/* @import url("https://fonts.googleapis.com/css?family=Anton"); */

html {
  /* font-family: "SourceSansPro", sans-serif; */
  font-family: "Unica One", sans-serif;
  /* background: #2a2a2b; */
  /* font-family: "Unica One", Arial, Helvetica, sans-serif; */
  line-height: normal;
  text-transform: uppercase;
  color: #e0e0e3;
  fill: rgb(224, 224, 227);
  color: rgb(224, 224, 227);
  font-weight: 400;
  letter-spacing: 0.14994px;
  background-color: #000;
}

.element {
  height: 40px;
}

.MuiPaper-root {
  /* background-color: #2a2a2b; */
  /* font-family: "Unica One", Arial, Helvetica, sans-serif; */
  font-size: 16px;
  /* color: #e0e0e3; */
}
